[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Simple, Modular Microservice For Language Sentiment
[access "refs/*"]
	owner = group user/Al Brown (albertcbrown)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Al Brown (albertcbrown)
	label-Verified = -1..+1 group user/Al Brown (albertcbrown)
	push = group user/Al Brown (albertcbrown)
	read = group user/Al Brown (albertcbrown)
	rebase = group user/Al Brown (albertcbrown)
	removeReviewer = group user/Al Brown (albertcbrown)
	submit = group user/Al Brown (albertcbrown)
[access "refs/heads/*"]
	create = group user/Al Brown (albertcbrown)
	push = +force group user/Al Brown (albertcbrown)
	pushMerge = group user/Al Brown (albertcbrown)
	read = group user/Al Brown (albertcbrown)
[access "refs/tags/*"]
	push = group user/Al Brown (albertcbrown)
	push = +force group user/Al Brown (albertcbrown)
